//
   Created by aRTie on 29/10/2017.

h2(align="center")
  i What... happened...?
div(*ngFor="let oneMessage of webSer.messages | async")
  md-card(class='oneStory')
    md-card-title(align="center" style={'cursor':'pointer'})
      i {{oneMessage.doc.timestamp | date: 'yyyy/MM/dd'}}
    md-card-content(align="center")
      div(*ngFor="let oneRow of oneMessage.doc.lore")
        i {{oneRow}}
        br
