/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */


@import '~@angular/material/prebuilt-themes/indigo-pink.css';

h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

body {
	background: #222222;
	color: #bbbbbb
}

.card {
	margin: 8px;
	background: #bbbbbb;
	color: #222222;
}

.topbar {
	background: #880000;
	color: #000000;
}

.topButton {
	padding: 0 6px 0 6px !important;
	margin: 6px 8px 6px 8px !important;
	background: #111111;
	color: #9e9905 !important;
	border-radius: 10px 0 0 10px;
}

.oneStory {
	background: #111111;
	color: #bfbb05;
}

p {
	font-family: Courier
}


.levelTable {
	padding: 0 6px 0 6px !important;
	cursor: pointer !important;
}


.rotate-45-left {
	display: inline-block;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.rotate-45-right {
	display: inline-block;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.hidden {
	visibility: hidden;
}

.moveButton {
	padding: 0 2px 0 2px !important;
	margin: 2px 2px 2px 2px !important;
	background: #222222;
	color: #9e9905 !important;
	border-radius: 10px 0 0 10px;
min-width: 1% !important;
}

.moveButton {
	padding: 0 2px 0 2px !important;
	margin: 2px 2px 2px 2px !important;
	background: #222222;
	color: #9e9905 !important;
	border-radius: 10px 0 0 10px;
}


.redButton {
	padding: 0 2px 0 2px !important;
	margin: 2px 2px 2px 2px !important;
	background: #880000;
	color: #9e9905 !important;
	border-radius: 10px 0 0 10px;
}


.mat-dialog-container {
	background: #111111 !important;
	color: #bfbb05 !important;
}
